.intro {
  max-width: $tablet-width;
  margin: 0 auto;
  padding: 31px 30px 34px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 44px 120px 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 120px 43px;
  }

  &--inner {
    padding: 36px 20px 17px;

    @media (min-width: $tablet-width) {
      padding-top: 61px;
      padding-bottom: 87px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 112px;
      padding-bottom: 58px;
    }

    .intro__title {
      margin-bottom: 27px;

      @media (min-width: $tablet-width) {
        margin-bottom: 33px;

        font-size: 30px;
      }
    }
  }

  &--indents {
    padding-top: 32px;
    padding-bottom: 31px;

    @media (min-width: $tablet-width) {
      padding-top: 62px;
      padding-bottom: 78px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 99px;
      padding-bottom: 80px;
    }
  }
}

.intro__title {
  margin: 0 0 29px;
  font-size: 18px;
  line-height: 27px;
  color: $font-color-heading;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;

    font-size: 21px;
  }
}

.intro__desc {
  margin: 0;

  line-height: 26px;

  br {
    @media (max-width: $mobile-width-max) {
      display: none;
    }
  }

  &--inner {
    line-height: 24px;
  }
}
