.page-footer {
  max-width: $desktop-width;
  width: 100%;
  margin: 0 auto;
  padding: 38px 20px 23px;

  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px;
    align-items: center;

    padding: 0;
  }
}

.page-footer__hashtag {
  margin-bottom: 33px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $font-color-heading;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 24px;
  }
}

.page-footer__copyright {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
