.page {
  height: 100%;
}

.page__wrapper {
  min-width: $mobile-width;
  max-width: $desktop-width;
  margin: 0 auto;

  background-color: $bg-color-main;

  box-shadow: 0 5px 15px 0 rgba($black-secondary, 0.2);
}

.page__body {
  position: relative;
  min-width: $mobile-width;
  height: 100%;

  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $font-color-base;

  text-transform: uppercase;

  background-color: $bg-color-secondary;

  overflow-x: hidden;

  &--popup-show {
    overflow: hidden;
  }
}

.page__main {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
