// Colors
$black: #000000;
$black-secondary: #010101;
$white: #ffffff;
$lightblack: #333333;
$blue: #81b3d2;
$gray: #e5e5e5;

$bg-color-main: $white;
$bg-color-accent: $blue;
$bg-color-secondary: #f2f2f2;

$font-color-base: $lightblack;
$font-color-accent: $white;
$font-color-heading: $black;

$bg-color-button: $blue;
$bg-color-button--hover: #669ec0;
$bg-color-button--active: #5496bd;
$bg-color-button--disabled: $gray;
$font-color-button: $white;

$bg-color-advantage: #eeeeee;
$border-color-advantage: #d6d6d6;

$font-color-link: $black;
$font-color-link--hover: $blue;
$font-color-link--active: rgba($font-color-link, 0.3);

$font-color-link-current: #766357;
$font-color-link-current--hover: #604e43;
$font-color-link-current--active: rgba($font-color-link-current, 0.3);


/*
$bg-color-button--hover: #669ec0;
$bg-color-button--active: #5496bd;

$bg-color-intro: $blue;
$bg-color-intro-secondary: $white;
$bg-color-page-nav-toggle: $white;
$bg-color-back: #ddebf4;
$bg-color-map: #eeeeee;
$bg-color-video-icon: #5c6870;
$bg-color-photo: #eaeaea;
$bg-color-checkbox--active: #d5d5d5;
$bg-color-striked: #dbdbdb;

$border-color-item: #d6d6d6;
$border-color-photo: #e5e5e5;*/

// Font

$font-family-base: "PT Sans", "Arial", sans-serif;
$font-size-base: 14px;
$line-height-base: 21px;

// Breakpoints

$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
